6-main.py
100-main.py
101-main.py
102-main.py
8-square.py
__pycache__/100-singly_linked_list.cpython-310.pyc
__pycache__/101-square.cpython-310.pyc
__pycache__/102-square.cpython-310.pyc
__pycache__/6-square.cpython-310.pyc
