__pycache__/1-my_list.cpython-310.pyc
__pycache__/10-square.cpython-310.pyc
__pycache__/10-square.cpython-310.pyc
__pycache__/101-add_attribute.cpython-310.pyc
__pycache__/11-square.cpython-310.pyc
__pycache__/2-is_same_class.cpython-310.pyc
__pycache__/3-is_kind_of_class.cpython-310.pyc
__pycache__/4-inherits_from.cpython-310.pyc
__pycache__/5-base_geometry.cpython-310.pyc
__pycache__/6-base_geometry.cpython-310.pyc
__pycache__/7-base_geometry.cpython-310.pyc
__pycache__/8-rectangle.cpython-310.pyc
__pycache__/9-rectangle.cpython-310.pyc
__pycache__/100-my_int.cpython-310.pyc
