2-main.py
3-main.py
4-main.py
5-main.py
6-main.py
__pycache__/1-safe_print_integer.cpython-310.pyc
__pycache__/2-safe_print_list_integers.cpython-310.pyc
__pycache__/3-safe_print_division.cpython-310.pyc
__pycache__/4-list_division.cpython-310.pyc
__pycache__/5-raise_exception.cpython-310.pyc
__pycache__/6-raise_exception_msg.cpython-310.pyc
__pycache__/example.cpython-310.pyc
example.py
1-main.py
100-main.py

